<section class="content-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">02.</span>
        </div>

        <div class="large-9 columns">
          <h2>Build cool stuff<br>for the dev community</h2>

          <p>
            <strong>We strive to build a product you and every dev want to use.</strong>
            We're not there yet, but we get closer with every awesome feature we build.
            </p>

            <ul>
              <li>
                <p>
            The <strong>Feed</strong> lets you follow your favorite devs, or those you met at the last hackathon, and see what they're building.
            </p>
              </li>
              <li>
                <p>
            <strong>Portfolios</strong> showcase your work, tell the story behind it, and show how you became a better developer.
            </p>
              </li>

              <li>
                <p>
                  Our <strong>Hackathon platform</strong> that powers most of the biggest hackathons on the planet, including MHacks and PennApps.
                </p>
              </li>
            </ul>

          <p>
            You're lucky: you love your craft. Not that many people can say that.
            <br>
            But if you can love your company mission as well, that's a big plus. And I think you'll love ours.
          </p>

          <p>Being a dev, you're the target of the product you're building. It means your opinions and ideas matters. It's not just something meaningless we write on job listings. Here, for every feature you'll work on, you'll be welcome to suggest and build improvements. I love that.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="stats">
    <div class="row">
      <div class="large-3 columns">
        <span>500k+</span> hackers
      </div>
      <div class="large-3 columns">
        <span>32k</span> software projects
      </div>
      <div class="large-3 columns">
        <span>278</span> online hackathons
      </div>
      <div class="large-3 columns">
        <span>688</span> in-person hackathons
      </div>
    </div>
  </div>
</section>
