<section class="content-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">02.</span>
        </div>

        <div class="large-9 columns">
          <h2>Build cool stuff<br>for hackers</h2>

          <p>
            <strong>We strive to build products that help you tell the story behind your code.</strong>
            We're not quite there yet, but we get closer with every new release and feature that we build.
            </p>

            <ul>
              <li>
                <p>
            The <strong>Feed</strong> lets you follow your favorite hackers and see what they're building.
            </p>
              </li>
              <li>
                <p>
            <strong>Portfolios</strong> showcase your personal and professional projects, highlight your skills, and illustrate how you've grown as a developer.
            </p>
              </li>

              <li>
                <p>
                  Our <strong>Hackathon platform</strong> powers the biggest hackathons on the planet, including MHacks, PennApps, Oculus' Mobile VR Jam, the Uber Hackathon, and Atlassian's Codegeist.
                </p>
              </li>
            </ul>

          <p>
            You're lucky: you love your craft. Not that many people can say that.
            <br>
            But if you can love your company mission as well, that's a big plus. And I think you'll love ours: <em>to celerbrate software and those who make it</em>.
          </p>

          <p>As a developer, you're the target of the product you're building. It means your opinions and ideas matter. At Devpost, your input is crucial to what we build and how we do it. I love that.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="stats">
    <div class="row">
      <div class="large-3 columns">
        <span>500k+</span> hackers
      </div>
      <div class="large-3 columns">
        <span>32k</span> software projects
      </div>
      <div class="large-3 columns">
        <span>278</span> online hackathons
      </div>
      <div class="large-3 columns">
        <span>688</span> in-person hackathons
      </div>
    </div>
  </div>
</section>
