<section class="content-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">03.</span>
        </div>

        <div class="large-9 columns">
          <h2>Build for your community</h2>

          <p>
            Working at Devpost is working for you own community, the hacker community.
          </p>
          <p>
            It means that you understand the people you're working for. Your opinions and ideas matter.
            Your input will be welcome on every feature you build.
          </p>

          <p>I don't know about you, but I love that.</p>

          <p>
            We already have an active and growing community of hackers,
            but we won't be satisfied until every developer is excited to share on Devpost what
            they're building.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="stats">
    <div class="row">
      <div class="medium-3 columns">
        <span>500k+</span> hackers
      </div>
      <div class="medium-3 columns">
        <span>32k</span> software projects
      </div>
      <div class="medium-3 columns">
        <span>278</span> online hackathons
      </div>
      <div class="medium-3 columns">
        <span>688</span> in-person hackathons
      </div>
    </div>
  </div>
</section>
