<section class="content-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">&mdash; Chapter 02</span>
        </div>

        <div class="large-9 columns">
          <h2>Build cool stuff<br>for the dev community</h2>

          <p>
            Here, you won't be building some dark admin interface
            that nobody will ever see.
            <br>
            You will build an amazing product for the dev community which you're a part of. <strong>You</strong> are the target of your product, so your opinions and ideas will matter more than anywhere else.
          </p>

          <p>
            You will build features for hackers that love us.
            We run online and in-person hackathons, and hackathons are all about passion.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="stats">
    <div class="row">
      <div class="large-3 columns">
        <span>500k+</span> users
      </div>
      <div class="large-3 columns">
        <span>32k</span> software projects
      </div>
      <div class="large-3 columns">
        <span>278</span> online hackathons
      </div>
      <div class="large-3 columns">
        <span>688</span> in-person hackathons
      </div>
    </div>
  </div>
</section>
