<section class="content-section">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">01.</span>
        </div>

        <div class="large-9 columns">
          <h2>Build cool stuff<br>for the dev community</h2>

          <p>
            Software is part of everything we do. It helps us communicate, create new experiences, and realize our potential. At ChallengePost, we inspire hackers to celebrate their software projects and challenge the status quo through fun online challenges and hackathons.
          </p>
          <p>
            But software isn't the only thing changing the world — you are, too. If you're interested in the people and stories behind great software, then you might belong here.
          </p>
        </div>
      </div>

      <div class="figure-row">
        <div class="row">
          <div class="large-12 columns">
            <figure>
              <figcaption>
                One of the most exciting feature we're building right now is our hacker feed.
                <br>
                It's an ambitious feature, and we need your help to build it.
              </figcaption>
              <%= image_tag "http://i.imgur.com/xJOzJE0.png" %>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
