<section class="content-section">

      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">&mdash; Chapter 1</span>
        </div>

        <div class="large-9 columns">
          <h2>A regular day<br>at the office</h2>

          <div class="event first">
            <time>10:30 AM</time>

            <p>
              Yea, ChallengePost is heavy-sleeper friendly.
            </p>

            <p>
              We start with stand-up.
              Stand-up is where we talk about what we're working on, ask for help, listen to the Product Team's updates etc.
            </p>
            <p>
              We use Trello:
            </p>
          </div>

        </div>
      </div>

      <%= render "home/trello_board" %>

      <div class="row">
<!--         <div class="large-3 columns">

        </div> -->

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>1:00 pm</time>

            <p>
              <%= image_tag "chelsea.jpg", class: "right large-4 polaroid" %>

              Hungry? Me too. Let's head out to Chelsea Market. Or the Gansevoort Market... Really, you can't go wrong in the Meatpacking District.
              <br>
              <small>ps: except the Sugar Factory. Don't go. Just don't.</small>
            </p>
          </div>

          <div class="event">
            <time>2:00 pm</time>

            <p>
              Get some good work done, on your own, or pair-programming.
            </p>

            <p>
              One of the most exciting feature we're building right now is our hacker feed.
              <br>
              It's an ambitious feature, and we need your help to build it.
            </p>
          </div>
        </div>

        <div class="large-12 columns">
          <figure>
            <%= image_tag "http://i.imgur.com/jtjOk1v.png", class: "img-border" %>
          </figure>
        </div>
      </div>


      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>3:00 PM</time>

            <p>
              Chocolate-covered almonds break!!
            </p>

            <%= image_tag "almonds.png", style: "margin-left: -1.5em;" %>
          </div>

        </div>
      </div>
</section>
