<section class="content-section" id="footer">
  <footer >
    <div class="row">
      <div class="medium-3 columns text-right">
        <%= image_tag "me.jpg", class: "me" %>
      </div>
      <div class="medium-9 columns">
        <h2>Hello Hackers,</h2>
        <p>
          I'm <%= link_to "@niuage", "http://devpost.com/niuage" %>, a full-stack developer here at Devpost.
        </p>
        <p>
          We're currently looking to hire solid Rails developers, but it's proving
          to be hard. Why is that? My guess is that we could do a better job showing you how great it is to work here.
        </p>
        <p>
          This page is my attempt to offer you a candid look at what it's really like to work at Devpost.
          I hope you liked it, and if you think we'd make a good team, drop me an email at
          <%= link_to "robin@devpost.com", "mailto:robin@devpost.com" %>.
        </p>
      </div>
    </div>
  </footer>
</section>