<section class="content-section" id="footer">
  <footer >
    <div class="row">
      <div class="medium-3 columns text-right">
        <%= image_tag "me.jpg", class: "me" %>
      </div>
      <div class="medium-9 columns">
        <h2>Hello Hackers,</h2>
        <p>
          I'm <%= link_to "@niuage", "http://devpost.com/niuage" %>, a full-stack developer here at Devpost.
        </p>
        <p>
          We're currently looking to hire solid Rails developers, but it's proving
          to be hard.<br>
          Why is that?
        </p>
        <p>
           My guess is that we're doing a poor job showing you how great it is
           to work here. Our job listings, like most, are boring and generic. Our job page is vague and impersonal.
        </p>
        <p>
          So I built this page, to offer you a candid look at what it's really like to work at Devpost.
          If you think we'd make a good team, drop me an email at
          <%= link_to "robin@devpost.com", "mailto:robin@devpost.com" %>.
        </p>
      </div>
    </div>
  </footer>
</section>