<section class="content-section" id="jobs">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">05.</span>
    </div>

    <div class="large-9 columns">
      <h2>Come work with me</h2>

      <p>At this point, you should be like <i>"I want to go to there"</i>!
        <br>
        Great. Take a look at our open positions:</p>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30nh" class="card" target="_blank">
        <%= image_tag "icons/hero.png" %>

        <h3>Senior Developer</h3>

        <ul class="no-bullet">
          <li>5+ years XP</li>
          <li>Team leader</li>
          <li>Rock solid in Rails or ability to get up to speed fast</li>
        </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ng" class="card" target="_blank">
        <%= image_tag "icons/dev.png" %>

      <h3>Developer</h3>

      <ul class="no-bullet">
        <li>2+ years XP</li>
        <li>Solid Rails developer</li>
        <li>Eager to improve and share knowledge</li>
      </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ng" class="card" target="_blank">
        <%= image_tag "icons/junior.png" %>

      <h3>Junior Developer</h3>

      <ul class="no-bullet">
        <li>Motivation</li>
        <li>Enthusiasm</li>
        <li>Eager to learn</li>
      </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ni" class="card" target="_blank">
        <%= image_tag "icons/product.png" %>

        <h3>Product Manager</h3>

        <ul class="no-bullet">
          <li>3+ years XP</li>
          <li>Both data-driven and creative</li>
          <li>Works well with teams and is an excellent communicator</li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns large-push-3">
      <p>Oh, and by the way, we pay well, and have no vacation policy, which means time off whenever you want it.

        <br>
        But that's just the icing on the cake.</p>
    </div>
  </div>
</section>
