<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">04.</span>
    </div>

    <div class="large-9 columns">
      <h2>Work with me</h2>
      <p>At this point, you should be like <i>"I want to go to there"</i>.
        <br>
        Great. Take a look at our open positions:</p>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h3>Senior Developer</h3>

      <ul class="no-bullet">
        <li>5+ years XP</li>
        <li>Team leader</li>
      </ul>
    </div>
    <div class="large-3 columns">
      <h3>Developer</h3>

      <ul class="no-bullet">
        <li>2+ years XP</li>
        <li>Solid Rails developer</li>
      </ul>
    </div>
    <div class="large-3 columns">
      <h3>Junior Developer</h3>

      <ul class="no-bullet">
        <li>Motivation</li>
        <li>Enthusiasm</li>
        <li>Eager to learn</li>
      </ul>
    </div>
    <div class="large-3 columns">
      <h3>Product Manage</h3>

      <ul class="no-bullet">
        <li>proven track record</li>
        <li>Solid Rails developer</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns push-3">
      <p>Oh, and by the way, we pay well, and have no vacation policy, which means time off whenever you want it.

        <br>
        But that's just the icing on the cake.</p>
    </div>
  </div>
</div>
