<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">&mdash; Chapter 1</span>
    </div>

    <div class="large-9 columns">
      <h2>A regular day<br>at the office</h2>

      <div class="event first">
        <time>10:30am</time>

        <p>
          Yea, ChallengePost is heavy-sleeper friendly.
        </p>

        <p>
          We start with stand-up.
          Stand-up is where we talk about what we're working on, ask for help, listen to the Product Team's updates etc.
        </p>
        <p>
          We use Trello:
        </p>
      </div>

    </div>
  </div>
</section>
