<div class="row trello-board">
  <div class="large-3 columns">
    <div class="trello-list">
      <h4>Ready [5]</h4>
      <div class="trello-card clearfix">
        <div class="tag purple"></div>

        <p>[XL] Take over the world</p>

        <div class="badges"></div>
        <div class="members">
          <%= render "home/member", img: 1 %>
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="trello-list">
      <h4>In Progress [5]</h4>

      <div class="trello-card clearfix">
        <div class="tag green"></div>

        <p>[S] User sees a feed activity when a user they follow comments on an update</p>

        <div class="badges"></div>
        <div class="members">
          <%= render "home/member", img: 3 %>
          <%= render "home/member", img: 2 %>
        </div>
      </div>

    </div>
  </div>
  <div class="large-3 columns">
    <div class="trello-list">
      <h4>Review [3]</h4>
      <div class="trello-card clearfix">
        <div class="tag yellow"></div>

        <p>[S] improve logic around displaying updates in the feed</p>
      </div>
    </div>
  </div>

  <div class="large-3 columns">
    <div class="trello-list">
      <h4>Completed</h4>
      <div class="trello-card clearfix">
        <div class="tag purple"></div>

        <p>ZzZzzzZzz</p>

        <div class="badges"></div>
        <div class="members">
          <%= render "home/member", img: 2 %>
        </div>
      </div>
    </div>
  </div>
</div>
