.event
  // position: relative
  // border-left: 3px solid #e6e6e6
  // margin-left: (-$column-gutter / 2) - emCalc(1)
  // padding-left: 2 * $column-gutter

  // time
  //   border-radius: 50%
  //   border: 3px solid $green
  //   position: absolute
  //   height: 3 *$column-gutter
  //   width: 3 * $column-gutter
  //   background: $body-bg
  //   line-height: 3 *$column-gutter
  //   text-align: center
  //   left: -1.5 * $column-gutter
  margin-top: 4em

  time
    display: inline-block
    background: $green
    color: white
    font-weight: bold
    font-size: 1.2em
    text-transform: uppercase
    letter-spacing: 1px
    padding: 0.6em 1em
    margin-bottom: $paragraph-margin-bottom
    box-shadow: 3px 3px 0 rgba($green, 0.5)
