.event
  // position: relative
  border-left: 1px solid $green
  margin-left: (-$column-gutter / 2)
  padding: 4em 0 1em ($column-gutter / 2)

  &.first
    padding-top: 0

  // time
  //   border-radius: 50%
  //   border: 3px solid $green
  //   position: absolute
  //   height: 3 *$column-gutter
  //   width: 3 * $column-gutter
  //   background: $body-bg
  //   line-height: 3 *$column-gutter
  //   text-align: center
  //   left: -1.5 * $column-gutter

  time
    display: inline-block
    background: $green
    color: white
    font-weight: bold
    font-size: 1.2em
    text-transform: uppercase
    letter-spacing: 1px
    padding: 0.4em 0.8em
    margin-bottom: $paragraph-margin-bottom
    box-shadow: 3px 3px 0 rgba($green, 0.5)
    position: relative

    &:before, &:after
      content: ""
      position: absolute
      left: -16px
      top: 50%

    &:before
      border: 8px solid transparent
      border-right-color: $green
      height: 0
      width: 0
      margin-top: -8px

    &:after
      height: 7px
      width: 7px
      border-radius: 100%
      left: -19px
      background: $green
      margin-top: -4px

.event-border
  border-left: 1px solid $green
