#jobs
  .card
    display: block
    color: $body-font-color
    margin: 2em 0
    background: #EEE
    border-radius: 3px
    padding: 0.9375rem

    &:hover
      h3
        color: $orange

  img
    margin-top: -90px
    height: 120px
    text-align: center