.figure-row
  position: relative
  margin-top: 1em

  // &:before
  //   content: ""
  //   position: absolute
  //   top: 0
  //   height: 4px
  //   background: $purple
    // left: -($column-gutter / 4)

    // @include grid-column(3, false, false, false, 3)

figcaption
  padding: 1em 0
  font-size: 1.2em
  color: $grey-3
  border-top: 4px solid $yellow

.big-number
  font-size: 3.5em
  color: #e0e0e0
  font-weight: bold
  display: inline-block
  // margin-top: 28px
  float: right

.polaroid
  border: 10px solid white
  border-width: 15px 15px 40px
  @include transform(rotate(6deg))
  @extend .shadow

.img-border
  border: 1px solid #ddd
  // border-radius: 3px

.photo-grid
  img
    margin-bottom: $column-gutter

.shadow
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1)

.list
  p
    position: relative

  span
    position: absolute
    right: 100%
    padding-right: $column-gutter
    color: #bbb

.wide
  width: 100%

.cp-logo
  width: 200px
