.trello-board
  background: #0062b4
  border-radius: 3px
  padding: ($column-gutter / 2) 0

.trello-list
  background: #E2E4E6

  h4
    color: #4D4D4D
    font-size: 0.875em
    margin: 0
    margin-bottom: 8px

.trello-list, .trello-card
  padding: 8px
  border-radius: 3px

.trello-card
  background: white
  border-bottom: 1px solid #CCC

  p
    font-size: 0.875em

  .members
    float: right

    img
      border-radius: 3px
