$grid-border-color: #e4e4e4

#grid
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

  .row
    height: 100%

  .columns
    height: 100%
    @include transition(all 0.8s)

    border-left: 1px solid $grid-border-color

    &:last-child
      border-right: 1px solid $grid-border-color

  &.faded
    .columns
      border-color: $body-bg

      &:last-child
        border-color: $body-bg

      &:nth-child(2)
        border-color: $grid-border-color

#page
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 2
